.wrapper{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

h1{
  width: 500px;
}
h1::after{
content: "";

}
span{
  position: relative;
}
span::before{
content: "Web Developer";
animation: word 5s infinite;
}
span::after{
  content: "";
  border-right: 2px solid red;
  position: absolute;
  right: 8px;
  animation: cursor 0.6 infinite, typing 20s steps(14) infinite;
}
@keyframes word{
  0%,
  20% {
    content: "Frontend Designer";
  }
  21%,
  40% {
    content: "Web Designer";
  }
  41%,
  60% {
    content: "UI / UX Designer";
  }
  61%,
  80% {
    content: "Web Developer";
  }
  81%,
  100% {
    content: "Software Tester";
  }
}
@keyframes cursor {
  to {
    border-left: 2px solid red;
  }
}
@keyframes typing{
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}